<div class="container">
  <h1>Welcome to Anonymous Blogs</h1>
  <p>What would you like to do?</p>

<br>
<br>

<ul>
  <li><a href="/show_posts">View All Posts</a></li>
  <li><a href="/create_post">Create Post</a></li>
  <li><a href="/edit_post">Edit Post</a></li>
  <li><a href="/delete_post">Delete</a></li>
  <li><a href="/show_tags">Show All Tags</a></li>
</ul>

<!-- 
  <form method='get' action='/show_posts'>
  <input type='submit' name="key" value='Get All Posts'><br>
  </form>
    <form method='get' action='/create_post'>
    <input type='submit' value='Create a Post'><br>
  </form>
    <form method='post' action='/edit_post'>
    <input type='submit' value='Edit a Post'><br>
  </form>

  <form method='post' action='/edit_post'>
    <input type='submit' value='Delete a post'><br>
  </form> -->


<!--   <form method='get' action='/show_tags'>
    <input type='submit' value='Show all Tags'><br>
  </form>

     <input type='text' placeholder='Show me a post' name='category'><br>
     <input type='text' placeholder='Show me posts for this tag' name='category'><br>
  </form>  
 -->
</div>
