<div class="container">
  <% @tags.each do |tag| %>
    <section class="post">
      <h1></h1>
      <a href='/tags/<%= tag.category %>'>
        Tag:  <%= tag.category %>
        <br>

    </section>
  <% end %>
  <a href="/">Home</a>
</div>



  <form method='get' action='/'>
    <input type='submit' value='Go to Homepage'>
  </form>  


